:root
{
    --select-filter: none;

    --select-ordemenu: none;
    
    --elements-hidden: flex;
}

body, html
{
    display: flex;

    align-items: center;

    justify-content: center;

    flex-direction: column;

    margin: .4rem auto;

    margin-bottom: 0;

    height: 100%;
}

body
{
    width: 100vw;
}

header
{
    display: flex;

    align-items: center;

    width: 100%;
}

main
{

    justify-content: center;

    align-items: center;

    margin: auto;

    width: 100%;

    height: 100vh;   
}

.product-section-header
{

    display: flex;

    flex-direction: row;

    align-items: center;

    text-align: center;

    justify-content: center;

    margin: 2.5rem 3rem;
}

.product-section-body
{

    display: flex;

    flex-direction: row;

    align-items: flex-start;

    text-align: center;

    justify-content: center;

    margin: .5rem auto;
}

.product-category
{
    font-size: 38px;

    font-family: system-ui;

    position: relative;
    
    right: 21.35rem;
}


.filters-group
{
    display: flex;

    flex-direction: column;

    align-items: start;
}

.product-group
{
    width: 44.187rem;

    height: 100%;

    display: flex;

    flex-direction: column;

    flex-wrap: wrap;

    align-items: end;
}

.product-filter-category, .product-filter-category-header
{
    font-size: 24px;

    font-family: system-ui;

    font-weight: 425;
}


.product-grid
{
    width: 44.187rem;
    
    display: grid;

    justify-items: start;

    grid-template-columns: auto auto auto;
}

#footer
{
    display: flex;
    
    width: 100%;

    height: 2.5rem;

    justify-content: center;
    
    align-items: center;

    background-color: black;

    margin-top: 2.5rem;
}

#footer span
{
    display: block;

    color: white;

    text-align: center;

    font-weight: 450;

    text-decoration: none;
}

.show-more-products-container
{
    position: relative;

    display: flex;
    
    align-items: center;
    
    margin: 0;

    right: 17.5rem;
}

.show-more-products
{
    width: 9rem;

    height: 3rem;
    
    border: none;
    
    background-color: rgb(78,225,250);
    
    font-family: system-ui;

    color: white;
    
    font-weight: 500;
}

.filters-group-mobile-buttons
{
    display: none;
}

.filters-group-mobile, .ordermenu-group-mobile
{
    display: none;

    flex-direction: column;

    background-color: #fff;
}

.filters-group-mobile .checkfilter-size-container
{
    width: 2.875rem;

    margin: 0 1rem;
}

.filters-group-mobile .product-filter-category, .product-filter-category-header
{
    margin-left: 0.4rem;

    position: relative;
}

.ordermenu-group-mobile .product-filter-category, .product-filter-category-header
{
    margin-left: 0.4rem;

    position: relative;
}


.product-filter-category-header
{
    color: rgb(70, 69, 69);
}

.filter_mobile_header
{
    width: 100%;
 
    border-bottom: 1px solid rgb(70, 69, 69);
    
    padding-bottom: .2rem;
    
    margin-bottom: 0.4rem;
}

.filters-group-mobile .product-filters-colors,  .filters-group-mobile .product-filters-range-price
{
    margin-left: 1rem;
}

.filters-group-mobile .product-filters-sizes
{
    margin-left: 0.5rem;    
}


.filters-group-mobile .product-filters-sizes
{
    position: relative;

    justify-items: center;
    
    justify-content: flex-start;
}

.filters-group-mobile-buttons button
{
    margin-top: 1rem;

    opacity: 0.7;

    width: 18rem;

    height: 3.5rem;

    font-size: 22px;

    background-color: #fff;

    border: 1px solid #000;
}

@media screen and (max-width: 980px) 
{
    body,html
    {
        width: 100%;
        
        height: 100%;

        min-height: 100%;

        margin: 0;
    }

    header, #footer, .product-section-header, .product-section-body
    {
        display: var(--elements-hidden);   
    }

    .filters-group-mobile
    {
        display: var(--select-filter);
    }

    .ordermenu-group-mobile
    {
        display: var(--select-ordemenu);
    }

    .product-filter-category-mobile-show
    {
        position: absolute; 
        
        left: 24rem;
    }
    
    .filter-group-mobile-hidden, .filter-group-mobile-button-hidden
    {
        display: none;   
    }

    .filter-group-mobile-button-hidden
    {
        margin: 1rem;
        
        align-items: center;

        justify-content: center;
    }

    .filter-group-mobile-button-hidden button
    {
        width: 10rem;
        
        height: 2.5rem;

        margin: 0 1rem;

        font-family: system-ui;

        background-color: #fff;

        border: 1px solid #000;
    }
    
    .filter-group-mobile-button-hidden button:first-child
    {
        color: #fff;
        
        font-weight: 450;
        
        background-color: #4ee1fa;    
        
        border: none;
    }

    .product-filter-category
    {
        margin-bottom: 1rem;
    }

    .filters-group-mobile-buttons
    {
        display: flex;
    }

    .product-section-header
    {
        flex-direction: column;

        margin: 1.3rem 3rem;
    }

    .product-grid
    {
        grid-template-columns: auto auto;

        justify-content: center;
    }

    .filters-group
    {
        display: none;
    }


    .product-category
    {
        position: initial;

        text-align: center;

        font-size: 60px;

        left: auto;
    }

    .show-more-products
    {
        width: 12rem;
        
        height: 5rem;

        font-size: 18px;
    }

    .show-more-products-container
    {
        position: relative;

        margin-top: 1rem;
     
        right: 16.5rem;
    }  

}

@media screen and (max-width: 700px) 
{
    body,html
    {
        position: relative;
        
        width: max-content;

        height: 100%;

        min-height: 100%;

        margin: 0;
    }

    .filters-group-mobile, .ordermenu-group-mobile
    {
        width: 27rem;
    }
}

@media screen and (max-width: 700px) and (min-width: 500px)
{
    .product-filter-category-mobile-show
    {
        position: absolute; 
        
        left: 45rem;
    }   
}

@media screen and (width: 768px)
{
    body,html
    {
        position: relative;
        
        width: 100%;

        height: -webkit-fill-available;

        margin: 0;
    }
    
    .product-filter-category-mobile-show
    {
        position: absolute; 
        
        left: 45rem;
    }
}