body, html
{
    display: flex;

    align-items: center;

    justify-content: center;

    flex-direction: column;

    margin: 0 auto;

    width: 100%;

    height: 100%;
}

header
{
    display: flex;

    align-items: center;

    width: 100%;
}

main
{

    justify-content: center;

    align-items: center;

    margin: auto;

    width: 100%;

    height: 100vh;   
}

.product-section-header
{

    display: flex;

    flex-direction: row;

    align-items: center;

    text-align: center;

    justify-content: center;

    margin: 2.5rem 3rem;
}

.product-section-body
{

    display: flex;

    flex-direction: row;

    align-items: flex-start;

    text-align: center;

    justify-content: center;

    margin: .5rem auto;
}

.product-category
{
    font-size: 38px;

    font-family: system-ui;

    position: relative;
    
    right: 21.35rem;
}


.filters-group
{
    display: flex;

    flex-direction: column;

    align-items: start;
}

.product-group
{
    width: auto;

    height: 100%;

    display: flex;

    flex-direction: column;

    flex-wrap: wrap;

    align-items: end;
}

.product-filter-category
{
    font-size: 24px;

    font-family: system-ui;

    font-weight: 425;
}


.product-grid
{
    display: grid;

    grid-template-columns: auto auto auto;
}