.product-card-container
{
    display: flex;

    align-items: center;
    
    flex-direction: column;

    margin: 1.25rem;
}


.product-card-title
{
    padding-top: 0.2rem;

    font-size: 18px;

    font-family: system-ui;

    font-weight: 480;
}

.product-card-price
{
    padding: 0.7rem 0;

    font-size: 18px;

    font-family: system-ui;

    font-weight: 800;
}

.product-card-portion
{
    padding-bottom: 0.3rem;

    font-size: 14px;

    font-family: system-ui;

    font-weight: 480;
}

.product-card-buy-button
{
    width: 12rem;

    color: #fff;

    font-family: system-ui;

    font-weight: 580;

    height: 3.5rem;

    background-color: #000;

    border: none;

    transition: 0.25s ease-in-out;
}

.product-card-buy-button:active
{
    color: #fffc;

    background-color: #000c;

    border: none;

    transition-duration: 0.25s ease-in-out;;
}

@media screen and (max-width: 980px) 
{
    .product-card-container
    {
        margin: 1.2rem;
    }
    
    .product-card-container img, .product-card-buy-button
    {
        width: 17rem;
    }

    .product-card-title, .product-card-price
    {
        font-size: 22px;
    }

    .product-card-title
    {
        margin-top: .4rem;
    }

    .product-card-portion
    {
        font-size: 18px;
    }
}